@import url('https://fonts.cdnfonts.com/css/harry-potter');

body {
    background-image: url(image/hpGreatHall.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 2px white, 2px 2px 5px gold;
    font-family: "Harry Potter", sans-serif;
}

h1 {
    
    text-align: center;
}

h2 {
    
    text-align: center;
    padding-bottom: 2em;
}

.btnDiv {
    text-align: center;
}

.sortButton {
    background-image: url(image/sorting-hat.png);
    background-size: 6em;
    cursor: pointer;
    width: 5.7em;
    height: 5.5em;
    border: none;
    background-repeat: no-repeat;
    mix-blend-mode:multiply;
    
}

.filterMenu {
    min-width: 10em;
    max-width: 25em;
    padding-left: 5em;
}

.form-label {
    display: flex;
    align-self: center;
    padding: 1em 30em 1em 30em;
    width: 100%;
    font-family: "Harry Potter", sans-serif;
    
}

input[type=text]:focus {
    text-shadow: 1px 1px 2px white, 2px 2px 5px gold;
    font-family: "Harry Potter", sans-serif;
    mix-blend-mode:hard-light;
    
  }



p {
    
    text-align: center;
    padding-top: 0.5em;
    font-size: 35px;
    font: bold;
}

#isSorted {
    display: flex;
    flex-wrap: wrap;
    float: left;
    flex-basis: 50%;
}

#darkSide {
    display: flex;
    flex-wrap: wrap;
    float: right;
    flex-basis: 50%;
}

.card-container {
    display: flex;

}


.card {
    display: flex;
    flex-direction: row;
    font-family: "Harry Potter";
    margin-left: 2em;
    margin-top: 3em;
    min-height: 30em;
    flex-basis: 30%;
    min-width: 25em;
    
}

.card-body {
    
    border: none;
    border-radius: 1%;
 }
 
.card-body.ravenclaw {
background-color: blue;
}

.card-body.slytherin {
    background-color: darkolivegreen;
}

.card-body.gryffindor {
    background-color: red;
}

.card-body.hufflepuff {
    background-color: gold;
}

.card-body.dark-side{
    background-color: rgba(0, 0, 0, 0.717);
}
